<div id='banner' class='text-white bg-success bg-gradient'>

	{{#if logged}}
		<h5><i class="bi bi-camera-video"></i>    {{username}}</i></h5>
	{{else}}
		<h5><i class="bi bi-camera-video-off"></i></h5>
	{{/if}}

</div>