<footer>
  <div id="footer" class="text-white bg-success bg-gradient">
    <span id="footer-name">Siarhei Pushkin @2023</span>
    <a id="email-link" href="mailto:spushkin@sfsu.edu">Contact</a>
  </div>
</footer>