<header>
  <h1>You can post video here:</h1>
</header>

<form
  id="post-video"
  action="/posts/createPost"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="description">Description:</label>
    <input
      class="form-control"
      type="textarea"
      name="description"
      maxlength="500"
      {{! required }}
    />
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input
      class="form-control"
      type="text"
      name="title"
      maxlength="50"
      {{! required }}
    /></div>
  <div class="form-group">
    <label for="files">Select Video to Upload</label>
    <input
      class="form-control"
      type="file"
      id="file"
      name="uploadVideo"
      class="file-input"
      accept="video/*"
      enctype="multipart/form-data"
    />
  </div>
  <div class="form-group">
    <label for="agreement">
      <a href="#!">Acceptable Use Policy for uploading videos:</a>
    </label>
    <input
      class="form-check-input mt-1"
      type="checkbox"
      name="agreement"
      required
    />
  </div>
  <div class="form-group">
    <input
      id="upload-btn"
      class="btn btn-primary"
      type="submit"
      value="Submit"
    />
  </div>

</form>