body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;

  font-family: "IBM Plex Sans", sans-serif !important;
}

/* ********************************************* */
/* elements */

header,
main,
footer {
  flex-shrink: 0;
}

.container {
  flex-grow: 1;
}

label {
  text-align: center;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0 !important;
}

h5::first-letter {
  text-transform: capitalize;
}

small {
  float: right;
}

footer {
  width: 100%;
}

/* end elements */
/* ********************************************* */

/* ********************************************* */
/* other elements */

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vh;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

p.card-text {
  text-transform: capitalize;
  max-height: 75px;
  overflow: hidden;
  text-align: center;
}

#top {
  width: 100%;
}

/* div[id^='post-'] {
	height: 50%;
} */

.card-video-wrapper {
  width: 100%;
  height: 50%;
  max-height: fit-content;
  overflow-y: hidden;
}

.card-video-top {
  width: 100%;
  height: auto;
}

/* end other elements */
/* ********************************************* */

/* ********************************************* */
/* button elements */

#post-btn::after {
  content: " Make Post";
}
#home-btn::after {
  content: "Home";
}
#login-btn::after {
  content: "Log In";
}
#logout-btn::after {
  content: "Log Out";
}
#signup-btn::after {
  content: "Sign Up";
}

.bi {
  margin-right: 5px;
}

/* end button elements */
/* ********************************************* */

/* ********************************************* */
/* top */

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-height: 55px;
  padding: 0.2rem 1rem 0 1rem;
}

#banner-group {
  display: flex;
  margin: 5px;
  padding: 0;
}

.banner-item {
  margin: 0 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-fluid {
  align-items: stretch;
}

.d-flex {
  flex: 1 1 auto;
  max-width: 50%;
}

form.d-flex {
  min-width: 30px;
}

/* end top */
/* ********************************************* */

/* ********************************************* */
/* flash-message */

#flash-messages {
  position: fixed;
  top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  z-index: 1030;
}

#flash-message div {
  /* margin: 0;
	padding: 5px 10px; */
  width: fit-content;
}

.alert {
  padding: 5px 10px !important;
  margin-bottom: 1px !important;
  opacity: 0.7;
}

/* end flash-message */
/* ********************************************* */

/* ********************************************* */
/* footer */
footer {
  flex-shrink: 0;
  margin-top: 1rem;
}
#footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-name {
  margin-right: 1rem;
}

#email-link {
  color: white;
}

/* end footer */
/* ********************************************* */

/* ********************************************* */
/* form hint */

.form-group:hover .hint,
input:focus ~ div {
  opacity: 1;
}
.form-group {
  position: relative;
}

.hint {
  content: "";
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 200px;
  width: fit-content;
  z-index: 1;
}

.hint div {
  margin: 5px;
  padding: 5px;
  width: max-content;
}

/* end form hint */
/* ********************************************* */

/* ********************************************* */
/* container */

.container {
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* end container */
/* ********************************************* */

/* ********************************************* */
/* form */
form {
  display: flex;
  min-width: 300px;
  max-width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  height: 30px;
  width: 30px;
}

/* end form */
/* ********************************************* */

/* ********************************************* */
/* navbar */
nav {
  flex-wrap: nowrap !important;
}

.container-fluid form {
  display: flex;
  flex-wrap: nowrap !important;
  flex-direction: row;
  justify-content: left;
}

#search-button {
  margin-right: 5px;
}

/* end navbar */
/* ********************************************* */

/* ********************************************* */
/* other */

.card {
  grid-column: span 3;
  grid-row: span 2;
  height: 20rem;
}

/* end other */
/* ********************************************* */

/* ********************************************* */
/* Post Container */

#main-content {
  margin-top: 10px;
  padding: 0 10px;
  width: 100vw;
  min-width: 320px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: "p p p p p p p p c c c c";
  gap: 0.2rem;
}

.card {
  grid-column: span 4;
}

#comment-container {
  grid-area: c;
  padding: 0.35rem 0;
  display: grid;
  grid-template-rows: auto 75px;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  grid-template-areas:
    "messages"
    "comment-box";
  max-height: 90vh;
}

#post-container {
  grid-area: p;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  padding: 0.25rem;
  margin: 0.2rem;
  font-size: 1rem;
  grid-template-areas:
    "video"
    "msg";
}

video {
  width: 100%;
}

#main-content header {
  grid-column: span 12;
  grid-row: span 2;
}

#main-content form {
  grid-column: 5/9;
  grid-row: span 5;
}

#video-post-title,
#video-post-desc {
  text-align: left;
}

#comment-area {
  display: flex;
  padding: 0 5px;
  width: 100%;
  align-items: flex-end;
}

#info-message-grid {
  grid-area: msg;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  padding: 0.25rem;
  margin: 0.2rem;
  font-size: 1rem;
  grid-template-areas:
    "title author"
    "title date"
    "desc desc";
}

#video-post-author {
  grid-area: author;
}

#video-post-date {
  grid-area: date;
}

#video-post-title {
  grid-area: title;
}

#video-post-desc {
  grid-area: desc;
}

textarea {
  grid-area: comment-box;
  margin-bottom: 5px !important;
}

#comment-container {
  /* grid-column: span 12; */
  padding: 0.35rem 0;
  display: grid;
  grid-template-rows: auto 75px;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  grid-template-areas:
    "messages"
    "comment-box";
  max-height: 80vh;
}

#messages {
  grid-area: messages;
  overflow-y: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  scroll-behavior: smooth;
  border: 1px solid #cccccc;
  box-shadow: -2px 2 px 4px 4px #e0e0e0;
  border-radius: 0.35rem;
  max-height: 50vh;
}

div[id^="message-"] {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  grid-template-columns: 1fr 1.5fr;
  gap: 0.2rem;
  padding: 0.25rem;
  margin: 0.2rem;
  font-size: 1rem;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.25rem;
  grid-template-areas:
    "author created"
    "comment comment";
}

.comment-text {
  grid-area: comment;
  text-align: start;
  text-overflow: ellipsis;
  max-height: fit-content;
}

.author-text {
  grid-area: author;
  justify-self: start;
  color: red;
}

.date-posted {
  grid-area: created;
  justify-self: end;
}

#comment-btn {
  width: 100px;
  height: 55px;
  font-size: 1.5rem;
  margin: 5px 0 5px 5px;
}

/* end Post Container  */
/* ********************************************* */

/* ********************************************* */
/* Media queries */

/* Mobile Styles */
@media screen and (min-width: 480px) {
  /* .card {
		min-height: 100%;
	} */
}

@media screen and (min-width: 720px) {
  #main-content form {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    grid-column: span 3;
  }

  #main-content {
    grid-template-rows: 1fr;
    grid-template-areas: "p p p p p p p p p c c c";
  }

  #comment-container {
    grid-area: c;
    display: grid;
    padding: 0.35rem 0;
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
    gap: 0.2rem;
    grid-template-areas:
      "messages"
      "comment-box";
    max-height: 90vh;
  }

  #messages {
    grid-area: messages;
    height: 1fr;
    align-self: flex-end;
    max-height: 100%;
  }

  #comment-area {
    grid-area: comment-box;
  }

  #post-container {
    grid-area: p;
    display: grid;
    padding: 0.25rem;
    margin: 0.2rem;

    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
    gap: 0.2rem;
    font-size: 1rem;
    grid-template-areas:
      "video"
      "msg";
  }

  #video-post-video {
    grid-area: video;
  }

  #main-content header {
    grid-column: span 12;
    grid-row: span 2;
  }

  #main-content form {
    grid-column: 5/9;
  }
}

@media screen and (max-width: 1024px) {
  #main-content {
    grid-template-areas:
      "p p p p p p p p p p p p"
      "c c c c c c c c c c c c";
    margin: 0;
    padding: 0;
  }

  #comment-container {
    grid-area: c;

    padding: 0 5px;
    display: flex;
    flex-direction: column-reverse;
    max-height: 50vh;
    width: 100vw;
    min-width: 320px;
  }

  #messages {
    padding: 0 5px;
    flex-direction: column;
    max-height: 100vh;
  }

  #post-container {
    grid-area: p;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
    gap: 0.2rem;
    padding: 0.25rem;
    margin: 0.2rem;
    font-size: 1rem;
    grid-template-areas:
      "video"
      "msg";
  }
}

@media screen and (max-width: 720px) {
  .card {
    grid-column: span 2;
    grid-row: span 1;
    width: 100%;
    height: 100%;
  }

  div[id^="post-"] {
    padding: 0 3rem;
  }

  #post-container {
    padding: 0rem;
    margin: 0rem;
  }

  #main-content {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  form {
    max-width: 100vw;
  }

  #info-message-grid {
    padding: 0 10px;
  }

  body {
    font-size: smaller;
  }

  .bi {
    margin-right: 0;
  }

  #post-btn::after,
  #home-btn::after,
  #login-btn::after,
  #logout-btn::after,
  #signup-btn::after {
    content: "";
  }

  .nav-btn-group button {
    width: 50px;
  }

  .form-group {
    width: 100%;
  }

  #submitBtn {
    width: 100%;
    padding: 15px;
  }

  .hint {
    top: 60px;
    left: 30%;
  }

  #comment-container {
    display: flex;
    flex-direction: column-reverse;
    max-height: 50vh;
    width: 100vw;
    min-width: 320px;
  }

  #messages {
    flex-direction: column;
    max-height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }

  div[id^="post-"] {
    padding: 0;
  }

  .container-fluid {
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0 !important;
    padding: 0 !important;
  }
  .d-flex {
    align-self: center;
    max-width: 100%;
    width: 100%;
  }

  .nav-btn-group {
    display: flex;
    justify-content: end;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 5px;
  }

  .nav-btn-group button {
    width: 70px;
    margin: 0 5px;
  }
}

.btn {
  background-color: #198754 !important;
  border-color: #198754 !important;
  opacity: 1 !important;
}

.btn:hover {
  opacity: 0.75 !important;
}

.btn-danger {
  background-color: #dc3545 !important;
}

/* end Media queries */
/* ********************************************* */
